*{
   padding: 0px;
   margin: 0px;
   
}

.grid_container {
    background-color:brown;
    width: 100%; 
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:repeat(4,auto);
    
    
    
}


.grid_container div{

 margin:5px;
 
}

.hijo1{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: center;
}

.hijo1_1{
    display: flex;
    padding-right: 30%;
    align-items: end;
}

#titulo{
    color:black;
    font-size: 30px;
    font-family: fantasy;
}

.hijo1_2{
    display: flex;
    height: 100%;
    align-items: center;
    width: 35%;
    flex-wrap: nowrap;
}

.hijo1_2 div{
    flex-wrap: wrap;
    margin-left: 50px;
}


.boton_log{
    width: 99px;
    height:35px;
    border-radius: 15px;
    background-color:black;
    color:white;
    font-family: 'Ranga', bold;
    font-size: 20px;
}

.boton_log:hover{
    background-color:white;
    color:black;
}


.hijo2 {
    margin-top: 0px;
    margin-right: 0px;
    height: 100vh;
    background-color: black;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
}

.hijo2 div{
    border: 1px solid white;
    height: 100%;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
    
}






