<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resutados de busqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stilo.css')}}">

</head>

<body>
    <header>
        <section class="buscar">
            <input type="text" placeholder="Buscar" required>
            <div class="btn">
                <img src="images/boton.png" onclick="">
            </div>
            <div class="profile">
                <img src="images/profile.png">
            </div>


        </section>
    </header>
</body>
<section class="resultados">

    <figure>
        <img src="images/img_1.png">
    </figure>
    <figure>
        <img src="images/img_2.png">
    </figure>
    <figure>
        <img src="images/img_3.png">
    </figure>
    <figure>
        <img src="images/img_4.png">
    </figure>
    <figure>
        <img src="images/img_5.png">
    </figure>
    <figure>
        <img src="images/img_6.png">
    </figure>
    <figure>
        <img src="images/img_7.png">
    </figure>
    <figure>
        <img src="images/img_8.png">
    </figure>
    <figure>
        <img src="images/img_9.png">
    </figure>

</section>

</html>